.markdown-alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    border-left: 0.25rem solid;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.markdown-alert svg {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}

.markdown-alert-note {
    background-color: #f6f8fa;
    border-color: #dfe2e5;
    color: #24292e;
}

.markdown-alert-warning {
    background-color: #fff0f0;
    border-color: #b33939;
    color: #24292e;
}

.markdown-alert-important {
    background-color: #e7f7ff;
    border-color: #0076a8;
    color: #24292e;
}

.markdown-alert-caution {
    background-color: #fffbdd;
    border-color: #e2c000;
    color: #24292e;
}